<nav class="navbar">
    <div class="container">
        <a href="{{ '/' | relative_url }}" class="logo">
            <img src="{{ '/assets/img/sensorium_logo_schwarz.png' | relative_url }}" alt="Sensorium Logo" class="logo-icon">
            <!-- {{ site.title }} -->
        </a>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#competitions">Competitions</a></li>
            <li><a href="#resources">Resources</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
